button {

    border: 0.1rem solid black;

    border-radius: 0.25rem;

    padding: 0.25rem;

    background-color: hsl( 150, 50%, 80% );

}

.image-container {

    width: 25rem;

    height: 25rem;

    border-radius: 0.5rem;

    border: 0.1rem solid black;

}

nav {

    width: 100%;

}

footer {

    background-color: hsl( 150, 50%, 80% );

    margin: 1rem;

    padding: 1rem;

    border-radius: 0.5rem;

}