* {

    font-family: Arial, Helvetica, sans-serif;

    margin: 0;

    padding: 0;

}

.flex {

    display: flex;

}

.space-around {

    justify-content: space-around;

}

section {

    width: 100vw;

}